<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let fruit of fruits">
I Love {{fruit}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let color of colors">
Your favourite coloris {{color}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let number of numbers">
{{number}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let city of cities">
{{city}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let student of students1">
{{student.name}} {{student.age}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let product of products2">
{{product.id}} {{product.name}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users">
{{user.id}} {{user.username}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let language of languages">
{{language}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let country of countries">
{{country}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let hobby of hobbies">
{{hobby}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of tasks">
{{task.task}} {{task.completed}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let book of books1">
{{book.title}} {{book.author}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let post of posts">
{{post.id}} {{post.title}}
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let employee of employees1">
{{employee.name}} {{employee.dept}}
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let course of courses1">
{{course}} 
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let score of scores">
{{score}} 
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let month of months">
{{month}} 
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let event of events1">
{{event}} 
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let order of orders1">
{{order.orderId}} {{order.item}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of skills">
{{skill}} 
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let role of roles">
{{role}} 
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let alert of alerts">
{{alert}} 
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let status of statuses">
{{status}} 
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let flight of flights1">
{{flight.flightNo}} {{flight.destination}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let exp of expenses">
{{exp.category}} {{exp.amount}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>category</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>department</th>
            <th>experience</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.experience}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>subjects</th>
            <th>grades</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.subjects}}</td>
            <td>{{student.grades}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>teamid</th>
            <th>project</th>
            <th>members</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams">
            <td>{{team.teamId}}</td>
            <td>{{team.project}}</td>
            <td>{{team.members}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>subcategories</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>{{category.subcategories}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>genre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>rating</th>
            <th>duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies">
            <td>{{movie.id}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.rating}}</td>
            <td>{{movie.duration}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>day</th>
            <th>activities</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plans of workoutPlans">
            <td>{{plans.id}}</td>
            <td>{{plans.day}}</td>
            <td>{{plans.activities}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>event</th>
            <th>attendees</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let eve of events">
            <td>{{eve.id}}</td>
            <td>{{eve.event}}</td>
            <td>{{eve.attendees}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>orderid</th>
            <th>products (Name-Qty)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{order.orderId}}</td>
            <td>
              <div *ngFor="let product of order.products">
              <strong>Name: </strong>{{product.name}} <strong>QTY:</strong> {{product.qty}}
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>phone</th>
            <th>company</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.company}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>location</th>
            <th>rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supply of suppliers">
            <td>{{supply.id}}</td>
            <td>{{supply.name}}</td>
            <td>{{supply.location}}</td>
            <td>{{supply.rating}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>menus</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rest of restaurants">
            <td>{{rest.id}}</td>
            <td>{{rest.name}}</td>
            <td>{{rest.menus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>department</th>
            <th>manager</th>
            <th>employees</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let department of departments">
            <td>{{department.id}}</td>
            <td>{{department.department}}</td>
            <td>{{department.manager}}</td>
            <td>{{department.employees}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>amount</th>
            <th>date</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trans of transactions">
            <td>{{trans.id}}</td>
            <td>{{trans.amount}}</td>
            <td>{{trans.date}}</td>
            <td>{{trans.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>instructor</th>
            <th>hours</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td>{{course.id}}</td>
            <td>{{course.title}}</td>
            <td>{{course.instructor}}</td>
            <td>{{course.hours}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>species</th>
            <th>age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of pets">
            <td>{{pet.id}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.species}}</td>
            <td>{{pet.age}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bodered">
        <thead>
          <tr>
            <th>id</th>
            <th>from</th>
            <th>to</th>
            <th>duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flights">
            <td>{{flight.id}}</td>
            <td>{{flight.from}}</td>
            <td>{{flight.to}}</td>
            <td>{{flight.duration}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>











